<a
  [routerLink]="[index]"
  routerLinkActive="active"
  class="list-group-item clearfix"
  >
<div class="row">
  <div class="col-md-5">
   <h4 class="list-group-item-heading"><a>{{ hnArticle.title }}</a></h4>
   <p class="list-group-item-text">{{ hnArticle.description }}</p>
   <div class="row">
     <div class="col-xs-3">
    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" (click)="onAddLike()"></span>
    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true" (click)="onAddDisLike()"></span>
       {{hnArticle.likes}}
     </div>
   </div>
  </div>
</div>
</a>
<hr>
