
 .navbar-brand {
  color: red;
 }

 .navbar-brand:hover {
   color: #660000;
 }

 .container-fluid{
   background-color: #2C3539;
 }

li > a  {
  color: white;
}
li > a:hover{
  color: red;
  cursor: pointer;
}
